[Unit]
Description=GB Index Service
After=network.target
OnFailure=gb-notify-tg@%n.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/gb/apps/program

# The main command to run
ExecStart=/bin/bash /root/gb/apps/program/src/scripts/systemd/gb-index.sh

# Restart configuration
# Restart=no
Restart=on-failure
RestartSec=5
# StartLimitInterval=200
# StartLimitBurst=5

# Output handling
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
