[Unit]
Description=Telegram Notification Service for %i

[Service]
Type=oneshot
User=root
EnvironmentFile=/etc/sysconfig/gb/gb.env.dev
ExecStart=/usr/local/sbin/gb-notify-tg.sh %i

[Install]
WantedBy=multi-user.target
